*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	font: 12px/16px 'Open Sans', Arial, Helvetica, sans-serif;
}
/*kuch na show hone ki waja se overflow hidden ko khatam kya and 
us ki father ki class ko after de kr ye neche after ka kam kya howa he
lazmi karna he*/
#wrapper{
	position: relative;
	overflow: hidden;
}
#header{
	background: url('../image/bg-header.jpg') 50% 0 no-repeat;
	min-height: 115px;
    background-size: cover;
    position: relative;
	z-index: 5;
}
div.container{
	max-width: 85%;
	margin: 0 auto;
}
.header-holder{
	position: relative;
}
.header-holder:after{
	display: block;
	clear: both;
	content: '';
}
.top-header{
	overflow: hidden;
	padding: 24px 0 8px 0;
}
.logo{
	float: left;
}
ul.contact{
	float: right;
	padding: 0;
	margin: 0;
}
ul.contact li{
	list-style: none;
	font-size: 20px;
	margin: 0 0 12px 0;
	font-weight: 700;
}
ul.contact li a{
	color: #fff;
	text-decoration: none;
}
ul.contact li.cont{
	pointer-events: none;
}
ul.contact li.mail{
	font-size: 13px;
	margin: 0;
    font-weight: normal;
}
li.mail a:hover{
	text-decoration: underline;
}
nav.navigation{
	font-size: 13px;    
    text-transform: uppercase;
    float: left;
}
ul.bottom-header{
	padding: 0;
	margin: 0;
}
ul.bottom-header li{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	padding: 13px 31px 13px 0px;
}
ul.bottom-header li a{
	color: #fff;
	text-decoration: none;
	
}
.font-search{
	position: relative;
	float: right;
	
}
.search-icon .fa-search {
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 26%;
    right: 13px;
}
.mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #21629C;
    width: 230px;
    display: none;
    padding: 30px;
}
/*When we use the paragraph then give the stile to his father class*/
.mega-menu h3{
	color: #fff;
	margin: 0 0 20px;
}
.mega-menu ul.sub-menu1{
	padding: 0;
	float: left;
}
.mega-menu ul.sub-menu1 li{
	display: block;
}
.mega-menu ul.sub-menu2{
	padding: 0;
	float: right;
}
.mega-menu ul.sub-menu2 li{
	display: block;
}
ul.bottom-header li:hover .mega-menu{
	display: block;
}
input[type="sunmit"]{
	padding: 8px 36px 8px 6px;
    background: center;
    color: #fff;
    outline: none;
    border-radius: 15px;
    border: 1px solid #fff;
}
::placeholder{
	color: #fff;
}
#main{
	position: relative;
	overflow: hidden;
}
.slider-holder{
	position: relative;
	overflow: hidden;
}
#main .text-area {
    position: absolute;
    color: #fff;
    top: 20%;
    right: 8%;
    background: rgba(35, 67, 100, 0.9);
    width: 400px;
    padding: 5px 5px 30px 34px;
    line-height: 37px;
}
#main .text-area h1{
	font-weight: normal;
}
a.sub-btn {
    color: #244160;
    text-decoration: none;
    background: #fff;
    display: block;
    width: 125px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #fff;
}
a.sub-btn:hover{
    color: #fff;
    background: rgba(36, 65, 96, 0.3);
    border: 1px solid #fff;
}
button.slick-prev.slick-arrow {
    position: absolute;
    top: 36%;
    left: 5%;
    z-index: 5;
    padding: 15px;
    background: #009;
    color: #009 !important;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #fff;
    width: 50px;

}
/*If we take the button then not used the anker tag <a> inner side or 
the outer side of the button we can use only the button or only the 
Anker tag only.*/
button.slick-prev.slick-arrow:after{
	 content: '\f053';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 16px;
    transition: all 0.3s ease;
    color: #fff;

}
button.slick-next.slick-arrow {
    position: absolute;
    top: 36%;
    right: 5%;
    z-index: 5;
    padding: 15px;
    background: #009;
    color: #009 !important;
    cursor: pointer;
    border: 1px solid #fff;
    width: 50px;
}
button.slick-next.slick-arrow:after{
	content: '\f054';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 16px;
    transition: all 0.3s ease;
    color: #fff;
}
section.national-security {
    position: relative;
    overflow: hidden;
}
div.text-area1 {
    padding: 40px 0;
    border-bottom: 1px solid #ededed;
}
h2.best-balue {
    color: #0068b3;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    font-weight: normal;
    padding: 0 0 25px;
    margin: 0;
}
p.bvti-service {
    font-size: 17px;
    line-height: 27px;
    color: #404040;
    margin: 0;
}
.management-made{
	position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    margin: 0 -30px;
}
.container .heading-text h2{
	text-align: center;
    color: #0068b3;
    font-size: 30px;
    font-weight: normal;
    line-height: 34px;
}
.heading-text h2 strong {
    font-weight: 700;
	color: #234364;
}
.card-position {
    padding: 15px 0;
}
.card-position .cards{
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 24px;
    text-align: center;
	width: 25%;
	margin: 0 0 0 -3px;
    padding: 0px 20px 0 0;
}
.card-position .cards .picture-holder {
    width: 100%;
}
.card-position .cards .card-para a{
	text-decoration: none;
	color: #404040;
}
.card-position .cards .card-para a:hover{
	text-decoration: underline;
}
.card-position .cards a.post-image{
	display: block;
}
.card-position .cards a.post-image img {
    width: 100%;
    height: auto;
    display: block;
}
a.enter-sub {
    color: #404040;
    background: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 900;
    display: block;
    width: 120px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.security-section{
	background: url('../image/bg-security.jpg') 50% 0 no-repeat;
	background-size: cover;
	height: 450px;
	padding: 5% 0;
	color: #fff;
}
.security-section .container h2{
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	margin: 0px;
}
.security-section .container h2 strong{
	font-weight: 700;
}
.container p{
	font-size: 14px;
	line-height: 22px;
}
.left-artical{
	float: left;
	width: 50%;
}
.right-artical{
	float: right;
	width: 50%;
	padding: 0 0 0 95px;
}
.news-section{
	position: relative;
	overflow: hidden;
	background: #fafafa;
	padding: 25px 0;
    border-bottom: 1px solid #ededed;
}
.news-section .container .text-event h2 {
    text-align: center;
    color: #0068b3;
    font-size: 30px;
    font-weight: normal;
    line-height: 34px;
}
.news-section .container .text-event h2 strong{
	font-weight: 700;
	color: #234364;
}
.holder-column {
	padding: 20px 0;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    line-height: 25px;
}
.holder-column h2{
    font-size: 20px;
    line-height: 30px;
}
.holder-column h2 a {
    color: #234364;
    text-decoration: none;
    font-weight: 900;
}
.holder-column h2 a:hover {
    text-decoration: underline;
}
.holder-column h4 {
    font-size: 15px;
    margin: 0;
}
.holder-column p{
    margin: 0;
}
.holder-column time {
	color: #8a8a8a;
}
.text-drived {
    padding: 0 37px 0 0;
}
.conten-experience p a {
    color: #84ccfa;
    text-decoration: none;
}
.conten-experience p a:hover {
	text-decoration: underline;
	color: #404040;
}
.icon-quelity {
    overflow: hidden;
    position: relative;
}
.post-hilled{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.post-hilled p{
	margin: 0 0 20px 0;
}
.holder-icon {
	padding: 0 0 20px 0;
}
.fas.fa-calendar-minus {
    font-size: 62px;
    text-align: center;
    display: block;
}
.text-area-jobjuction {
    background: #234364;
    padding: 40px;
    color: #fff;
    text-align: justify;
}
.text-area-jobjuction h2 {
    text-align: center;
    font: 700 40px/40px "Montserrat",Helvetica,Arial,sans-serif;
    margin: 0 0 20px 0;
}
.text-area-contract {
    padding: 40px;
    text-align: justify;
}
.text-area-contract h2 {
    text-align: center;
    font: 700 24px/28px "Montserrat",Helvetica,Arial,sans-serif;
    color: #1d1e1f;
    margin: 0 0 20px 0;
}
.text-area-services {
    padding: 40px;
    text-align: justify;
}
.text-area-services h2 {
    text-align: center;
    font: 700 24px/28px "Montserrat",Helvetica,Arial,sans-serif;
    color: #1d1e1f;
    margin: 0 0 20px 0;
}
a.post-go {
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    display: block;
    width: 110px;
    margin: 0 auto;
    text-align: center;
    padding: 12px 18px;
}
a.post-go.job-area {
    background: wheat;
}
a.post-go:hover {
	background: #E6E6E6;
}
section.holder-fave-icon {
    padding: 45px 0;
}
#footer{
	background: url('../image/bg-footer.png') 50% 0 no-repeat;
    background-size: cover;
    background-position: center;
}
.hold-links {
    position: relative;
    overflow: hidden;
    padding: 25px 0;
    border-bottom: 1px solid #25292e;
}
.categori-links{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}
.categori-links h2{
margin: 0 0 12px 0;
}
.categori-links h2 a {
	margin: 0 0 12px 0;
    color: #fff;
    text-decoration: none;
}
.categori-links h2 a:hover {
    text-decoration: underline;
}
nav.targit-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.targit-link ul li a{
	color: #43636A;
	text-decoration: none;
}
nav.targit-link ul li a:hover {
	text-decoration: underline;
}
nav.targit-link ul li{
	padding: 6px 0;
}
.categori-links {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 0 0 0 -5px;
    padding: 0 0 0 4px;
}
.bottom-footer{
	overflow: hidden;
	position: relative;
	padding: 25px 0;
}
.bottom-logo {
    float: left;
    width: 50%;
}
nav.bottom-menu {
    float: right;
    width: 50%;
    text-align: right;
}
nav.bottom-menu ul {
    margin: 0;
    padding: 0;
}
nav.bottom-menu ul li {
    display: inline-block;
    margin: 0 12px;
}
nav.bottom-menu ul li a {
    color: #43636A;
    text-decoration: none;
}
nav.bottom-menu ul li a:hover {
    text-decoration: underline;
}
.bottom-logo a {
    color: #43636A;
    text-decoration: none;
}
.bottom-logo a:hover {
    text-decoration: underline;
}
.bottom-logo span {
    margin: 0 0 0 120px;
    color: #43636A;
}